body{
    background-color: #000;
}
nav{
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    height: 100%;
    width: 25%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    overflow-x: hidden;
    padding-top: 100px;
  

}

nav a{
    padding: 10%;
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    color: #fff;
 
    
}

nav a:hover{
    color: rgb(0, 0, 255);
    
}

.main{
    margin-left: 30%;
    padding: 0 10px;
}

.container{
    margin-left: 30%;
    padding: 0 10px;
    columns: 4;
    column-gap: 15px;
}

.container .box{
    width 100%;
    margin-bottom: 10px;
}

@media (max-width: 1200px){
    .container{
        width: calc(100%-20px);
        columns: 3;
    }
}

@media (max-width: 768px){
    .container{
        columns: 2;
    }
}

.container .box img{
    max-width: 100%;
    border-radius: 5px;
    break-inside: avoid;

}

p{
    color: white;
}

h1{
    color: #fff;
}

h2{

    color: #1635e4;
}

.gif{
    width: 100%;
    margin: 0;
    padding-bottom: 10px;
    padding-top: 10px;
}

.landing-menu a{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 72px;
    text-decoration: none;
    color: #fff;

}

.landing-menu a:hover{
    color: rgb(0, 0, 255);
    padding-right: 50px;
    padding-left: 50px;
    text-transform: uppercase;
    font-weight: bold;
}

.oops{
    width: 400px;
    height: 200px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.goBack{
    color: #fff;
    text-decoration: none;
    font-size: 32px;
    font-weight: bold;
}

#oopsie{
    color: #000;
    background-color: rgb(172, 255, 47);
}

#introduction-menu a:hover{
    color: rgb(226, 38, 38);
}

#likes-menu a:hover{
    color: rgb(245, 212, 24);
}

#activity-menu a:hover{
    color: rgb(149, 36, 194);
}

#introduction-gif{
    background-color: rgb(226, 38, 38);
}

#likes-gif{
    background-color: rgb(245, 212, 24);
}

#activity-gif{
    background-color: rgb(149, 36, 194);
}